p{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: justify;
  margin: 10px;
}

ion-card-title{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;

  margin: 10px;
  text-align: justify;
}

ion-card-subtitle{
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  top: -5px;
}

ion-icon{
  color: white;
}
